
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Query</h1>

<f:flashMessages />

<table  class="tx_wfqbe" >
	<tr>
		<th><f:translate key="tx_wfqbe_domain_model_query.title" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_query.description" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_query.query" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_query.dbname" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_query.search" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_query.insertq" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_query.type" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{queries}" as="query">
		<tr>
			<td><f:link.action action="show" arguments="{query : query}"> {query.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.query}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.dbname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.search}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.insertq}</f:link.action></td>
			<td><f:link.action action="show" arguments="{query : query}"> {query.type}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{query : query}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{query : query}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Query</f:link.action>
</f:section>