
<label for="title">
	<f:translate key="tx_wfqbe_domain_model_backend.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_wfqbe_domain_model_backend.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="recordsforpage">
	<f:translate key="tx_wfqbe_domain_model_backend.recordsforpage" />
</label><br />
	<f:form.textfield property="recordsforpage" /><br />
<label for="searchqPosition">
	<f:translate key="tx_wfqbe_domain_model_backend.searchq_position" />
</label><br />
	<f:form.textfield property="searchqPosition" /><br />
<label for="typoscript">
	<f:translate key="tx_wfqbe_domain_model_backend.typoscript" />
</label><br />
	<f:form.textarea property="typoscript" cols="40" rows="15" /><br />
<label for="exportMode">
	<f:translate key="tx_wfqbe_domain_model_backend.export_mode" />
</label><br />
	<f:form.textfield property="exportMode" /><br />