
<table class="tx-wfqbe" >
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_backend.title" />
		</td>
		<td>
			{backend.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_backend.description" />
		</td>
		<td>
			{backend.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_backend.recordsforpage" />
		</td>
		<td>
			{backend.recordsforpage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_backend.searchq_position" />
		</td>
		<td>
			{backend.searchqPosition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_backend.typoscript" />
		</td>
		<td>
			{backend.typoscript}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_backend.export_mode" />
		</td>
		<td>
			{backend.exportMode}
		</td>
	</tr>
</table>