
<label for="title">
	<f:translate key="tx_wfqbe_domain_model_credential.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="host">
	<f:translate key="tx_wfqbe_domain_model_credential.host" />
</label><br />
	<f:form.textfield property="host" /><br />
<label for="dbms">
	<f:translate key="tx_wfqbe_domain_model_credential.dbms" />
</label><br />
	<f:form.textfield property="dbms" /><br />
<label for="username">
	<f:translate key="tx_wfqbe_domain_model_credential.username" />
</label><br />
	<f:form.textfield property="username" /><br />
<label for="passw">
	<f:translate key="tx_wfqbe_domain_model_credential.passw" />
</label><br />
	<f:form.textfield property="passw" /><br />
<label for="connType">
	<f:translate key="tx_wfqbe_domain_model_credential.conn_type" />
</label><br />
	<f:form.textfield property="connType" /><br />
<label for="setdbinit">
	<f:translate key="tx_wfqbe_domain_model_credential.setdbinit" />
</label><br />
	<f:form.textfield property="setdbinit" /><br />
<label for="dbname">
	<f:translate key="tx_wfqbe_domain_model_credential.dbname" />
</label><br />
	<f:form.textfield property="dbname" /><br />
<label for="connectionMode">
	<f:translate key="tx_wfqbe_domain_model_credential.connection_mode" />
</label><br />
	<f:form.textfield property="connectionMode" /><br />
<label for="connectionUri">
	<f:translate key="tx_wfqbe_domain_model_credential.connection_uri" />
</label><br />
	<f:form.textfield property="connectionUri" /><br />
<label for="connectionLocalconf">
	<f:translate key="tx_wfqbe_domain_model_credential.connection_localconf" />
</label><br />
	<f:form.textfield property="connectionLocalconf" /><br />