
<table class="tx-wfqbe" >
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.title" />
		</td>
		<td>
			{credential.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.host" />
		</td>
		<td>
			{credential.host}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.dbms" />
		</td>
		<td>
			{credential.dbms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.username" />
		</td>
		<td>
			{credential.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.passw" />
		</td>
		<td>
			{credential.passw}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.conn_type" />
		</td>
		<td>
			{credential.connType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.setdbinit" />
		</td>
		<td>
			{credential.setdbinit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.dbname" />
		</td>
		<td>
			{credential.dbname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.connection_mode" />
		</td>
		<td>
			{credential.connectionMode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.connection_uri" />
		</td>
		<td>
			{credential.connectionUri}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_credential.connection_localconf" />
		</td>
		<td>
			{credential.connectionLocalconf}
		</td>
	</tr>
</table>