
<label for="title">
	<f:translate key="tx_wfqbe_domain_model_query.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_wfqbe_domain_model_query.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="query">
	<f:translate key="tx_wfqbe_domain_model_query.query" />
</label><br />
	<f:form.textarea property="query" cols="40" rows="15" /><br />
<label for="dbname">
	<f:translate key="tx_wfqbe_domain_model_query.dbname" />
</label><br />
	<f:form.textfield property="dbname" /><br />
<label for="search">
	<f:translate key="tx_wfqbe_domain_model_query.search" />
</label><br />
	<f:form.textarea property="search" cols="40" rows="15" /><br />
<label for="insertq">
	<f:translate key="tx_wfqbe_domain_model_query.insertq" />
</label><br />
	<f:form.textarea property="insertq" cols="40" rows="15" /><br />
<label for="type">
	<f:translate key="tx_wfqbe_domain_model_query.type" />
</label><br />
	<f:form.textfield property="type" /><br />