
<table class="tx-wfqbe" >
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.title" />
		</td>
		<td>
		{query.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.description" />
		</td>
		<td>
		{query.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.query" />
		</td>
		<td>
		{query.query}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.dbname" />
		</td>
		<td>
		{query.dbname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.search" />
		</td>
		<td>
		{query.search}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.insertq" />
		</td>
		<td>
		{query.insertq}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wfqbe_domain_model_query.type" />
		</td>
		<td>
		{query.type}
		</td>
	</tr>
</table>