
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Credential</h1>

<f:flashMessages />

<table  class="tx_wfqbe" >
	<tr>
		<th><f:translate key="tx_wfqbe_domain_model_credential.title" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.host" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.dbms" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.username" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.passw" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.conn_type" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.setdbinit" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.dbname" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.connection_mode" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.connection_uri" /></th>
		<th><f:translate key="tx_wfqbe_domain_model_credential.connection_localconf" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{credentials}" as="credential">
		<tr>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.host}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.dbms}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.username}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.passw}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.connType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.setdbinit}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.dbname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.connectionMode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.connectionUri}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.connectionLocalconf}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{credential : credential}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{credential : credential}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Credential</f:link.action>
</f:section>